{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SentinelOps{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'navbar.html' %}

    <main class="container">
        {% if messages %}
            {% for message in messages %}
                {% include 'components/alert.html' with message=message %}
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </main>

    {% include 'footer.html' %}

    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
